---
name: pytest

on: [push, pull_request, workflow_dispatch]

jobs:
  pytest-windows:
    name: Run pytest (Windows)
    runs-on: windows-2025

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade uv
          uv pip install --system .[pytest]

      - name: Execute pytest
        run: |
          pytest --cov-report xml --cov=tagstudio
